[Unit]
Description=Flask service
After=network.target

[Service]
User=skypro
WorkingDirectory=/home/skypro/simple_flask
ExecStart=/home/skypro/simple_flask/venv/bin/gunicorn -b localhost:80 -w 4 app:app
Restart=always

[Install]
WantedBy=multi-user.target